spring:
  datasource:
    url: jdbc:h2:mem:testxec
  liquibase:
    enabled: true
    change-log: classpath:/changelog/changelog-master.yaml
    #url: jdbc:h2:mem:test3;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;
    #drop-first: false
    #user: sa
    #password: 1
    driver-class-name: org.h2.Driver

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        format_sql: true

    show-sql: false



logging:
  level:
    ROOT: ERROR
